<div class="widget">
  <h3 class="widget-title">Connect</h3>
  <ul>
    <li><a class="spec" href="http://www.linkedin.com/in/sbajaj9/" alt="LinkedIn" target="_blank" onclick="trackOutboundLink('http://www.linkedin.com/in/sbajaj9?loc=sidebar');">Linkedin</a></li>
    <li><a class="spec" href="http://github.com/sb2nov?loc=sidebar" alt="Github" target="_blank" onclick="trackOutboundLink('http://github.com/sb2nov/');">Github</a></li>
    <li><a class="spec" href="http://twitter.com/sb2nov?loc=sidebar" alt="Twitter" target="_blank" onclick="trackOutboundLink('http://twitter.com/sb2nov/');">Twitter</a></li>
    <li><a class="spec" href="https://speakerdeck.com/sb2nov?loc=sidebar" alt="Speaker Deck" target="_blank" onclick="trackOutboundLink('https://speakerdeck.com/sb2nov/');">Speaker Deck</a></li>
    <li><a class="spec" href="mailto:sourabh@sourabhbajaj.com" alt="email" target="_blank" onclick="trackOutboundLink('mailto:sourabh@sourabhbajaj.com');">Email</a></li>
  </ul>
</div>
