<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% if page.title %}{{ page.title }} - {% endif %}Sourabh</title>
  <link href="/atom.xml" rel="alternate" title="Sourabh's Blog" type="application/atom+xml" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
  <link rel="stylesheet" href="/js/icons/style.css">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" id="font-bitter-css" href="https://fonts.googleapis.com/css?family=Bitter:400,700" type="text/css" media="screen" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/contents/fav.png" />
  <link rel="search" type="application/opensearchdescription+xml" title="sourabhbajaj.com" href="/opensearch.xml" />

  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url}}" />
  {% if page.title %}<meta property="og:title" content="{{ page.title }}" />{% endif %}
  {% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt }}" />{% endif %}
  <meta property="og:image" content="{% if page.preview_image %}{{ page.preview_image }}{% else %}https://sourabhbajaj.com/images/contents/NN.png{% endif %}" />

  <meta name="twitter:site" value="@sb2nov" />
  {% if page.title %}<meta property="twitter:title" content="{{ page.title }}" />{% endif %}
  {% if page.excerpt %}<meta property="twitter:description" content="{{ page.excerpt }}" />{% endif %}
  <meta property="twitter:image" content="{% if page.preview_image %}{{ page.preview_image }}{% else %}https://sourabhbajaj.com/images/contents/NN.png{% endif %}"/>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40495390-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}');
  </script>
  <script>
    var trackOutboundLink = function(url) {
      gtag('event', 'click', {
        'event_category': 'outbound',
        'event_label': url,
        'transport_type': 'beacon',
        'event_callback': function(){document.location = url;}
      });
    }
  </script>
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  {% seo title=false %}
</head>

<body class="{{ page.section }}">
  <div id="container">
    <div class="wrap">
    <div id="header">
      <div id="branding">
        <h1 id="site-title">
          <a href="/" title="Sourabh Bajaj" rel="Home">Sourabh Bajaj</a>
        </h1>
      </div>

      <div id="menu-primary" class="menu-container">
        <div class="menu">
          <ul id="menu-primary-items">
            <li class="menu-item home"><a class="spec" href="/">Home</a></li>
            <li class="menu-item projects"><a class="spec" href="/projects">Projects</a></li>
            <li class="menu-item talks"><a class="spec" href="/talks">Talks</a></li>
            <li class="menu-item blog"><a class="spec" href="/blog/">Blog</a></li>
            <li class="menu-item github"><a class="spec" href="https://github.com/sb2nov/" target="_blank">Github</a></li>
            <li class="menu-item rss">
              <div class="rss-button">
                <a href="/atom.xml" target="_blank">
                  <img src="/images/social/RSSButton.png" alt="RSS Feed" height="20px"/>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="clear"></div>
    </div>

    <div id="main">
