{% include top.html %}

<div id="content">
  <div class="hfeed">
    <div class="hentry post">
      <div class="post-content">
        <div class="sticky-header">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2>{{ page.subtitle }}</h2>
          {% endif %}
          <div class="byline">{{ page.date | date: "%B %d, %Y" }}{% if page.author %} · by {{ page.author}}{% endif %} . {% for category in page.categories %}{% if forloop.index0 != 0 %}, {% endif %}<a href="/blog/categories.html#{{category}}" class="category">{{ category }}</a>{% endfor %}</div>
        </div>

        {% include toc.html %}

        <div class="entry-content">
          {{ content }}
        </div>

        {% include share.html %}
      </div>
    </div>
  </div>
</div><!-- #content -->

{% include bottom.html %}
