---
layout: page
title: Articles
description: "An archive of posts sorted by date."
---
{% include JB/setup %}

<div class='container articleList'>
    <table class="table table-responsive post-table">
        {% for post in site.posts %} 
        <tr>
            <td><h4 class='postTitle'><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h4></td>
            <td class='postDate' style='vertical-align:middle;'><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></td>
        </tr>
        {% endfor %}
    </table>
</div>